.restaurant-list__container {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.restaurant-list__restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .restaurant-list__container {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .restaurant-list__container {
    margin-bottom: 0;
  }
}
