.restaurant-list__container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.restaurant-list__restaurants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

@media screen and (max-width: 850px) {
  .restaurant-list__container {
    margin-bottom: 3rem;
  }

  .restaurant-list__restaurants {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
  }
}

@media screen and (max-width: 500px) {
  .restaurant-list__container {
    margin-bottom: 2rem;
  }

  .restaurant-list__restaurants {
    grid-template-columns: repeat(1, 1fr);
  }
}
