.download-buttons__img {
  width: 8.2rem;
  height: 2.4rem;
}

@media screen and (max-width: 340px) {
  .download-buttons__img {
    width: 7.5rem;
  }
}

@media screen and (max-width: 295px) {
  .download-buttons__img {
    width: 7rem;
  }
}
