.mobile-page-navbar__container {
  padding: 1.3rem 0;
  position: relative;
}

.mobile-page-navbar__inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moble-page-navbar__logo {
  width: 8.75rem;
  height: 1.86rem;
}

.mobile-page-navbar__links {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.mobile-page-navbar__link {
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #696969;
  opacity: 0.9;
}

.moblie-page-navbar__inner-container--sm {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-page-navbar__inner-container {
    display: none;
  }

  .moblie-page-navbar__inner-container--sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-page-navbar__hamburger {
    font-size: 1.5rem;
    margin-top: 0.35rem;
  }
}
