.mobile-page-navbar__container {
  position: relative;
}

.mobile-page-navbar__inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.mobile-page-navbar__logo {
  width: 8.75rem;
  height: 1.86rem;
}

.mobile-page-navbar__links {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 768px) {
  .mobile-page-navbar__inner-container {
    display: none;
  }
}
