.food-page__header {
  margin: 0.5rem 0 1.2rem;
}

.food-page__header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-page__header-logo {
  width: 8.5rem;
}

.food-page__header-searchbar-container {
  flex: 1;
  margin: 0 1.5rem;
}

.food-page__header-auth-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* this class is used in every child component of the food-page */
.food-page__heading {
  font-size: 2rem;
  color: #1c1c1c;
  opacity: 0.85;
  margin: 0 0 2.5rem 0;
}

/* this class is used in both dining-out and nightlife child components */
.food-page__collections-container {
  background-color: #f8f8f8;
  padding-top: 1px; /* just so that top padding is not zero (not 1px in effect, though) */
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .food-page__header-searchbar-container {
    margin: 0 0.75rem;
  }

  .food-page__heading {
    font-size: 1.7rem;
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 850px) {
  .food-page__header-inner {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .food-page__heading {
    font-size: 1.4rem;
    margin: 0 0 1.7rem 0;
  }
}
