.landing-tile__tile {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-out;
}

.landing-tile__tile:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.landing-tile__tile-image {
  height: 80%;
  width: 100%;
}

.landing-tile__info {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-tile__info p {
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .landing-tile__info p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .landing-tile__tile-image {
    height: 75%;
  }

  .landing-tile__info {
    height: 25%;
    top: 75%;
  }

  .landing-tile__info p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 630px) {
  .landing-tile__tile-image {
    height: 80%;
  }

  .landing-tile__info {
    height: 20%;
    top: 80%;
  }

  .landing-tile__info p {
    font-size: 1rem;
  }
}
