.navbar-small__container--from-food,
.navbar-small__container--from-mobileapp {
  display: none;
  height: 5rem;
}

@media screen and (max-width: 850px) {
  .navbar-small__container--from-food {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-small__hamburger {
    font-size: 1.5rem;
    margin-top: 0.45rem;
  }

  .navbar-small__logo {
    width: 8.75rem;
    height: 1.86rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-small__container--from-mobileapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
