nav.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.navbar__nav-left a {
  color: white;
  font-size: 0.9rem;
}

.navbar__hamburger {
  display: none;
}

.navbar__nav-links {
  display: flex;
  align-items: center;
}

.navbar__nav-link {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.navbar__nav-link:not(:last-child) {
  margin-right: 3.5rem;
}

@media screen and (max-width: 850px) {
  .navbar__nav-link:not(:last-child) {
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 680px) {
  .navbar__nav-link:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 530px) {
  .navbar__nav-left,
  .navbar__nav-links {
    display: none;
  }

  .navbar__hamburger {
    display: block;
    color: white;
    font-size: 1.5rem;
  }
}
